.Header {
  align-items: center;
  background-color: rgba(53, 56, 73, 0.95);
  display: flex;
  height: 2.75em;
  justify-content: space-between;
  left: 0;
  line-height: 2.75em;
  padding: 0 1.25em;
  position: fixed;
  top: 0;
  transition: background-color 0.2s ease-in-out;
  width: 100vw;
  z-index: 1;
}

.Header h1 {
  border-bottom: 0;
  display: inline-block;
  font-size: 0.8em;
  margin-bottom: 0;
  opacity: 1;
  transition: opacity 0.2s ease-in-out, visibility 0.2s;
  visibility: visible;
}

.Header h1 a {
  border: 0;
}

.Header.alt {
  background-color: transparent;
}

.Header.alt h1 {
  opacity: 0;
  visibility: hidden;
}

@media screen and (min-width: 736px) {
  .Header {
    height: 3.5em;
    line-height: 3.5em;
  }
}
